@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 900px;
    background-color: #F5CF06;
}
header{
    display: flex;
    font-family: "Righteous", sans-serif;
    gap: 20px;
    padding: 70px;
    align-items: center;
    height: 150px;
}
header h1{
    font-weight: 400;
    font-size: 32px;
    color: #8E4106;
    width: 134px;
    height: 40px;

}
main{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
main .textpikachu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 50%;
    width: 100%;
    font-family: "Righteous", sans-serif;

}
main .fundopikachu{
    width: 1462px;
    height: 548px;
}
main .fotodopikachu{
    position: absolute;
    z-index: 2;
    width: 559px;
    height: 541px;
    top: 350px;
    left: 720px;
}
.top{
    display: flex;
    height: 70%;
    width: 100%;
}

.button{
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr;*/
    height: 30%;
    width: 100%;
    font-family: "Righteous", sans-serif;
    color: #8E4106;
}
.texto{
    width: 530px;
    height: 154px;
    padding: 50px;
}
.texto>h1{
    display: flex;
    font-size: 64px;
    width: 530px;
    flex-direction: row;
    flex-wrap: wrap;
}
.texto span{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    height: 75px;
    width: 489px;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 50px;
    align-items: end;
    justify-content: end;
    color: #8E4106;
}
footer .copyright{
    justify-self: center;
    align-items: center;
    margin: 0;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-size: 16px;

}